# Data (too large to push)
data/
*.txt
*.parquet
!requirements.txt

# Figures (push later)
figures/

# Readme (push later)
README.md

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# OS
.DS_Store
